@import "tailwindcss";

@font-face{
  font-family: Doto;
  src: url("/fonts/alfont_com_AlFont_com_FFShamelFamily-SansOneBold.ttf");
}
@font-face{
  font-family: Doto1;
  src: url("/fonts/FingerPaint-Regular.ttf");
}

@theme{
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --color-primary: #502A73;
  --color-secondary: #757095;
  --color-info: #E7DAED;
  /* font */
  --font-doto: Doto, "sans-serif";
  --font-doto1: Doto1, "sans-serif";
}

main{
  min-height: calc(100vh - 508.11px);
}

.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-primary);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px)) !important;
  border-radius: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 20px)) !important;
}
.swiper-pagination-values .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-primary);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px)) !important;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.swiper-pagination-values .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 20px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 20px)) !important;
  margin-left: 2px;
  margin-right: 2px;
}

.swiper-pagination-achievements .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-primary);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px)) !important;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.swiper-pagination-achievements .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px)) !important;
  margin-left: 2px;
  margin-right: 2px;
}
.swiper-pagination-partner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-primary);
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px)) !important;
  border-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.swiper-pagination-partner .swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 15px)) !important;
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 15px)) !important;
  margin-left: 2px;
  margin-right: 2px;
}

.achievements .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@keyframes lineFill {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes lineGrow {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

.animate-lineFill {
  animation: lineFill 3s ease-in-out forwards;
  transform: scaleX(0);
}

.animate-lineGrow {
  animation: lineGrow 1.5s ease-in-out forwards;
  transform: scaleY(0);
}

/* نضيف تأخيرات مختلفة */
.delay-0s { animation-delay: 0s; }
.delay-2s { animation-delay: 2s; }
.delay-4s { animation-delay: 4s; }
.delay-6s { animation-delay: 6s; }
.delay-8s { animation-delay: 8s; }

